<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="4656245a-6bc8-4f19-9b64-17db51238e23"
            Publisher="CN=DELL"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>指针类型验证</DisplayName>
    <PublisherDisplayName>DELL</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="指针类型验证.App">
        <VisualElements
            DisplayName="指针类型验证"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="指针类型验证"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>